<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Herramienta para medir el clima laboral" />


<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/hypathia.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />



<title>HypatiA - Medición de clima laboral</title>
</head>
<body style="background-color: #545353;">

	<div class="container  text-center">
		<h1 class="text-white armata">Error 405</h1>
	
	<h3 class="text-warning">Lo sentimos,</h3>
	<p class="text-white">La url que estas buscando no puede ser accedida directamente desde el navegador</p>

	<a class="btn btn-primary" th:href="@{/getStudy}">Volver al inicio</a>
	</div>
</body>
</html>