@import url('https://fonts.googleapis.com/css?family=Armata|Roboto');

body {
	background: #F3F3F3;
	padding-top: 60px;
	font-family: 'Roboto', sans-serif;
}

.back{
     background: url("../img/bgLogin.png") no-repeat;
       
}







     
</style>

.flagIcon {
    width: 30px;
    height: 30px;
}

.armata {
	font-family: 'Armata', sans-serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.navbar-dark .navbar-brand {
	color: #FC9610;
	font-family: Armata;
	padding-right: 10%;
}

.navbar-dark .navbar-brand:hover {
	color: #FFFFFF;
}

.navbar-dark .navbar-text a {
	color: #FFFFFF;
}

.navbar-dark .nav-item .nav-link {
	color: #FFFFFF;
}

.navbar-dark .nav-item .nav-link:hover {
	color: #FC9610;
}

.navbar.navbar-dark .navbar-nav>.active>a, .navbar.navbar-dark .navbar-nav>.active>a:hover,
	.navbar.navbar-dark .navbar-nav>.active>a:focus {
	color: #FC9610;
	border-bottom: solid 2px #FC9610;
}

.icon-align {
	vertical-align: text-bottom;
	align-self: center;
}

h5 {
	color: #777777;
}

.btn-primary {
	background: #FC9610;
	border: 0px;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: text-bottom;
}

.btn-outline-warning {
	color: #FC9610;
}

.btn-outline-warning:hover {
	background: #1565C0;
	border-color: #1565C0;
}

.btn-outline-warning {
	color: #FC9610;
}

.login .container {
	margin-top: 120px;
	max-width: 500px;
}

.container .estAdmin .card {
	-moz-box-shadow: 0 2px 10px #777;
	-webkit-box-shadow: 0 2px 10px #777;
	box-shadow: 0 2px 10px #777;
}

.container .dash .card {
	-moz-box-shadow: 0 2px 5px #777;
	-webkit-box-shadow: 0 5px 5px #777;
	box-shadow: 0 2px 5px #777;
	margin-bottom: 10px;
}

.container .dash .card:hover {
	-moz-box-shadow: 0 2px 10px #777;
	-webkit-box-shadow: 0 5px 10px #777;
	box-shadow: 0 2px 10px #008080;
	float: none;
}

.container .dash .card .noli {
	list-style: none;
}

.spacing {
	border-right: 10px;
}

.progress {
	margin-bottom: 10px;
	height: 25px;
}

.progress-bar {
	height: 25px;
}

.progress-text {
	margin-left: 20px;
	font-size: 15px;
	line-height: 25px;
}

.one {
	background: url("../img/1.png") left no-repeat;
	background-position: 250px;
	text-align: left;
}

.two {
	background: url("../img/2.png") left no-repeat;
	background-position: 250px;
	text-align: left;
}

.three {
	background: url("../img/3.png") left no-repeat;
	background-position: 250px;
	text-align: left;
}

.four {
	background: url("../img/4.png") left no-repeat;
	background-position: 250px;
	text-align: left;
}

.textTable {
	margin-left: 40px;
}

.rotate {
	white-space: nowrap;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.alingCenter {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	margin-top: 20px;
}

.table .link {
	color: #FC9610;
	vertical-align: text-bottom;
}

.spacing {
	padding-left: 40px;
	padding-right: 10px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media ( min-width : 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media ( min-width : 1025px) and (max-width: 1280px) {
	.spacing {
		padding-left: 13px;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media ( min-width : 768px) and (max-width: 1024px) {
	.spacing {
		padding-left: 8px;
	}
}

.blue-text {
	color: #237deb;
}

div.stars {
	width: 270px;
	display: inline-block;
}

input.star {
	display: none;
}

label.star {
	float: right;
	padding: 10px;
	font-size: 36px;
	color: #444;
	transition: all .2s;
}

input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}

input.star-5:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
	color: #F62;
}

label.star:before {
	content: '\f006';
	font-family: FontAwesome;
}
.........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................