@import url('https://fonts.googleapis.com/css?family=Armata');

body {
	background: #FFFFFF;
	padding-top: 60px;
}
.back{
     background: url("../img/bgLogin.png") no-repeat;
       
}
.navbar-light {
	-webkit-box-shadow: 0 5px 6px -6px #3B3A3A;
	-moz-box-shadow: 0 5px 6px -6px #3B3A3A;
	box-shadow: 0 5px 6px -6px #3B3A3A;
}

.navbar-light .navbar-brand {
	color: #FC9610;
	font-family: Armata;
	padding-right: 10%;
	font-weight: bold;
}

.navbar-light .navbar-brand:hover {
	color: #888888;
}

.navbar-light .navbar-text a {
	color: #888888;
}

.navbar-light .nav-item .nav-link {
	color: #888888;
}

.navbar-light .nav-item .active {
	color: #FC9610;
}

.navbar-light .nav-item .nav-link:hover {
	color: #FC9610;
}

.icon-align {
	vertical-align: text-top;
}

h5 {
	color: #777777;
}

.btn-primary {
	background: #FC9610;
	border: 0px;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: text-bottom;
}

.register {
	margin-top: 80px;
}

.imgRegistre {
	margin-top: 75px;
}

.login .container {
	margin-top: 120px;
	max-width: 500px;
}

.login .container .card {
	-webkit-box-shadow: 50px 10px 6px -6px #777;
	-moz-box-shadow: 50px 10px 6px -6px #777;
	box-shadow: 2px 3px 12px 1px #737373;
	border: solid 1px #FC9610;
}

.login .container .card .card-header {
	background: #ffffff;
	color: #FC9610;
	font-size: 24pt;
	padding-right: 10%;
	font-weight: normal;
	border-bottom: solid 1px #FC9610;
}

@media screen and (max-width: 667px) {
	.register {
		margin-top: 5px;
	}
	.imgRegistre {
		margin-top: 5px;
	}
	.login .container {
		margin-top: 10px;
	}	
}

.flagIcon {
    width: 30px;
    height: 30px;
}

.material-icons {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}