<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Herramienta para medir el clima laboral" />

<!-- JavaScript -->

<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
	
<script type="text/javascript">
$(function() {
  $("#uploadButton").click(function(e) {
    e.preventDefault();    
    $(this).prop("disabled", true);
    
    //var form = $('form[name="frmUploadForm"]');            
    //var form = $("#frmUploadForm");
    var form = document.getElementById('frmUploadForm');

    var formData = new FormData(form);   
    /*
    alert(form.id);
    for (var pair of formData.entries()) {
        alert(pair[0] + ', ' + pair[1]); 
    }
    */
    var ajaxReq = $.ajax({
      url : "/admin/applicant/add-batch",
      type : "POST",
      data : formData,
      cache : false,
      contentType : false,
      processData : false,
      xhr: function(){        
         var xhr = $.ajaxSettings.xhr() ;
                
         xhr.upload.onprogress = function(event){
          	var perc = Math.round((event.loaded / event.total) * 100);
          	$("#progressBar").text(perc + "%");
          	$("#progressBar").css("width", perc + "%");
         };
         return xhr ;
    	},
      beforeSend: function( xhr ) {    	
    		$("#alertMsg").text("");
    		$("#progressBar").text("");
    		$("#progressBar").css("width", "0%");
              }
    });
      
    ajaxReq.done(function(msg) {
      $("#alertMsg").text(msg);
      $("#uploadButton").val("");
      $("#uploadButton").prop("disabled", false);
      location.reload();
    });
      
    ajaxReq.fail(function(jqXHR) {      
      $("#alertMsg").text(jqXHR.responseText + "(" + jqXHR.status + " - " + jqXHR.statusText + ")");
      $("#uploadButton").prop("disabled", false);
      $("#progressBar").css("width", "0%");
    });
  });
});
</script>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/hypathia.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<title th:text ="#{welcome.message}"></title>

</head>
<body>
	<!-- Navigation -->
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark  fixed-top"
		style="background-color: #545353;" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="#"><span th:text="#{app.name}"></span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">				
				<div class="dropdown show nav-item">
					<a class="nav-link dropdown-toggle" href="#" role="button"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"><i class="material-icons icon-align">account_circle</i>
						<span th:text="${company.contactName}"></span></a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<form id="formlogout" th:action="@{/logout}" method="post">
							<button class="dropdown-item">
								<i class="material-icons icon-align">power_settings_new</i>
								<span th:text="#{menu.exit}"></span>
							</button>
						</form>
					</div>
				</div>
			</div>				
		</div>

	</nav>

	<div class="container">
		<br />
		<h5><span th:text="#{admin.participant.title}"></span></h5>
		<hr />
		
		<section class="estAdmin">
			<div class="card">
				<div class="card-header"><span th:text="#{admin.participant.add-desc-batch}"></span> : <span class="font-weight-bold" th:text="${course.fullname}"></span>
				</div>

				<div class="card-body">
					<form id="frmUploadForm" name="frmUploadForm" th:action="@{/admin/applicant/add-batch}" enctype="multipart/form-data" method="post">										
						<input th:type="hidden" name="idCourse" id="idCourse" th:value="${course.id}" /> 
						<table class="table table-striped   table-sm">																		
							<tr>
								<td colspan="2">									 								
									<input type="file" id="fileInput" name="fileInput" />
								</td>								
							</tr>
						</table>
						<div class="col-md-4 alignRight">
								<button type="submit" id="uploadButton" name="uploadButton" class="btn btn-primary"><span th:text="#{admin.participant.file-upload}"></span></button>
						</div>
						<!-- Bootstrap Progress bar -->
    					<div class="progress">
      					<div id="progressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
    					</div>
    					<!-- Alert -->
    					<div id="alertMsg" style="color: red;font-size: 18px;"></div>
					</form>
				</div>
			</div>
		</section>

		<section class="estAdmin">
			<div class="card">
				<div class="card-header"><span th:text="#{admin.participant.add-desc}"></span> : <span class="font-weight-bold" th:text="${course.fullname}"></span>
				</div>

				<div class="card-body">
					<form id="frmAddApplicant" th:action="@{/admin/applicant/add}" th:object="${RegisterAddStudent}" method="post">
						<input th:type="hidden" name="idCourse" id="idCourse" th:value="${course.id}" /> 
						<table class="table table-striped   table-sm">						
							<tr>
								<td>
									<label class="col-form-label"><span th:text="#{admin.participant.firstname}"></span></label> <input type="text" class="form-control" required="required" th:field="*{firstname}" th:value="${firstname}" />
								</td>
								<td>							
									<label class="col-form-label"><span th:text="#{admin.participant.lastname}"></span></label> <input type="text" class="form-control" required="required" th:field="*{lastname}" th:value="${lastname}" />
								</td>
							</tr>						
							<tr>
								<td colspan="2">
									<label class="col-form-label"><span th:text="#{admin.participant.email}"></span></label> <input type="text" class="form-control" required="required" th:field="*{email}" th:value="${email}" />
								</td>								
							</tr>
						</table>
						<div class="col-md-4 alignRight">
								<button type="submit" class="btn btn-primary"><span th:text="#{admin.participant.add}"></span></button>
						</div>
					</form>
				</div>
			</div>
		</section>

		<br />
		<section class="estAdmin">

			<div class="card">
				<div class="card-header"><span th:text="#{admin.participant.evaluation}"></span></div>
				<div class="card-body">
					<table class="table table-striped   table-sm">
						<thead>
							<tr>
								<th>#</th>
								<th><span th:text="#{admin.participant.name-short}"></span></th>
								<th><span th:text="#{admin.participant.email-short}"></span></th>
								<th class="text-center"><span th:text="#{admin.participant.options-short}"></span></th>
								<th></th>								
							</tr>
						</thead>

						<tbody>
							<tr th:each="Student : ${ListApplicant}">

								<td th:text="${Student.id}"></td>
								<td th:text="${Student.firstname} + ' ' + ${Student.lastname} "></td>
								<td th:text="${Student.email}"></td>
								<td>
									<div class="row justify-content-center">
										<div class="col-3">
											<form th:action="@{/admin/applicant/send-notification}" method="POST">
												<input th:type="hidden" name="idStudent" id="idStudent" th:value="${Student.id}" />
												<input th:type="hidden" name="username" id="username" th:value="${Student.username}" />
												<input th:type="hidden" name="firstname" id="firstname" th:value="${Student.firstname}" />
												<input th:type="hidden" name="lastname" id="lastname" th:value="${Student.lastname}" />
												<input th:type="hidden" name="email" id="email" th:value="${Student.email}" />
												<input th:type="hidden" name="idCourse" id="idCourse" th:value="${course.id}" />
												<button class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Enviar Notificación">
													<i class="material-icons icon-align">send</i>
												</button>
											</form>
										</div>
									</div>
								</td>
								<td>
									<div class="row justify-content-center">
										<div class="col-4">				
										<form th:action="@{/admin/applicant/delete}" method="POST">
												<input th:type="hidden" name="idStudent" id="idStudent" th:value="${Student.id}" />												
												<input th:type="hidden" name="idCourse" id="idCourse" th:value="${course.id}" />						
												<button class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Eliminar participante">
													<i class="material-icons icon-align">delete_forever</i>
												</button>	
										</form>									
										</div>
									</div>
								</td>

							</tr>

						</tbody>

					</table>
				</div>
			</div>
		</section>
	</div>
	<br/>
	<form id="frmGoBack" th:action="@{/home/evaluation}" method="POST">
	<div class="row justify-content-center">
		<button type="submit" class="btn btn-primary">Volver</button>
    </div>
    </form>	

	<script>
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	
</body>
</html>