<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Herramienta para medir el clima laboral" />


<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/hypathia.css}" rel="stylesheet" />
<link th:href="@{/css/slider.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />



<title>HypathiA - Encuesta de compromiso laboral</title>



</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark  fixed-top"
		style="background-color: #545353;" id="mainNav">
		<div class="container-fluid">
			<span class="navbar-brand">Encuesta de Engagement</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive"></div>
		</div>

	</nav>
	<div id="wrapper">

		<!-- Page Content -->
<br/>
		<div class="container">
			<div class="card">
				<div class="card-body">
				<div th:if="${mensaje} =='El link ya no se encuentra activo'" class="text-danger">
					<h1>Oops!</h1>
					
					<h4 th:text="${mensaje}"></h4><h4>Validar si la información se encuentra correcta</h4>
				</div>
				
				
				<div th:if="${mensaje} =='Gracias por contestar la encuesta'" class="text-success">
					
					
					<h4 th:text="${mensaje}"></h4>
				</div>

				</div>
			</div>
		</div>

		<!-- /#page-content-wrapper -->

	</div>







</body>
</html>