<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Herramienta para medir el clima laboral" />


<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/hypathia.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

<title>HypathiA - Encuesta de compromiso laboral</title>


</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark  fixed-top"
		style="background-color: #545353;" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="#">Leibniz</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">
							<i class="material-icons icon-align">dashboard</i> Dashboard
					</a></li>

					<li class="nav-item "><a class="nav-link"
						th:href="@{/getStudy}"> <i class="material-icons icon-align">format_list_numbered</i>
							Estudios
					</a></li>
				</ul>
				<div class="dropdown show nav-item">
					<a class="nav-link dropdown-toggle" href="#" role="button"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"><i class="material-icons icon-align">account_circle</i>
						<span th:text="${company.contactName}"></span></a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<!--	<a class="dropdown-item" href="#"> <i
							class="material-icons icon-align">settings</i> Configuración</a>  -->
						<form th:action="@{/logout}" method="post">
							<button class="dropdown-item">
								<i class="material-icons icon-align">power_settings_new</i>
								Salir
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<br />


	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="form-group">
					<label for="formGroupExampleInput">Seleccione un estudio
						para ver los resultados</label>

					<form th:action="@{/getDashboard}" method="POST">
						<select class="form-control custom-select" name="idStudy"
							id="idStudy" onchange="this.form.submit()">
							<option th:each="Study :${listStudy}" th:value="${Study.idStudy}"
								th:text="${Study.studyName}"
								th:selected="(${Study.idStudy} == *{idSelected})"></option>
						</select>
					</form>
				</div>
			</div>
			<div class="col-md-4 text-right">
				<div class="form-group">
					<button class="button" id="cmd">Genera PDF</button>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="row">
				<div class="col-md-4">
					<div class="dash">
						<div class="card">
							<div class="card-header  text-center">Avance del estudio</div>
							<div class="card-body text-center">
								<h1 class="text-primary">
									<span th:text="${dashboard.PercentStudy}"></span>%
								</h1>
								del estudio completado
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="dash">
						<div class="card">
							<div class="card-header  text-center">Encuestas completadas</div>
							<div class="card-body text-center">
								<h1 class="text-success">
									<span th:text="${dashboard.SurveysAnswered}"></span>
								</h1>
								Participantes contestaron la encuesta
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="dash">
						<div class="card">
							<div class="card-header  text-center">Encuestas faltantes</div>
							<div class="card-body text-center">
								<h1 class="text-warning">
									<span th:text="${dashboard.MissingSurveys}"></span>
								</h1>
								Participantes aún no contestan la encuesta
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6">
					<div class="dash">
						<div class="card">
							<div class="card-header  text-center">Preguntas</div>
							<div class="card-body text-center">
								<h3 class="text-danger">
									<span th:text="${dashboard.totAnswer}"></span>
								</h3>
								Preguntas contestadas

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="dash">
						<div class="card">
							<div class="card-header  text-center">Fecha fin del estudio</div>
							<div class="card-body text-center">
								<h3 class="text-danger">
									<span th:text="${dashboard.RemainingDays}"></span>
								</h3>
								* El estudio no se cierra en la fecha de fin.
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="dash">
						<div class="card">



							<div class="card-header  text-center">Promedios por
								dimensión</div>
							<div class="card-body">
								<div th:if="${val ==1}">
									<div th:each="Average : ${listAverage}">
										<div class="row">

											<div class="col-md-4">
												<span class="progress-text" th:text="${Average.name}"></span>
											</div>
											<div class="col-md-8">
												<div th:if="${Average.classification == 'Deficiente'}">
													<div class="progress">
														<div class="progress-bar  bg-warning " role="progressbar"
															th:style="${'width:' + Average.percentage}+'%;'">
															<span class="progress-text" th:text="${Average.note}"></span>
														</div>
													</div>
												</div>

												<div th:if="${Average.classification == 'Normal'}">
													<div class="progress">
														<div class="progress-bar bg-primary" role="progressbar"
															th:style="${'width:' + Average.percentage}+'%;'">
															<span class="progress-text" th:text="${Average.note}"></span>
														</div>
													</div>
												</div>

												<div th:if="${Average.classification == 'Destacado'}">
													<div class="progress">
														<div class="progress-bar  bg-success" role="progressbar"
															th:style="${'width:' + Average.percentage}+'%;'">
															<span class="progress-text" th:text="${Average.note}"></span>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
								<div th:if="${val ==0}">
									<h4>Se debe procesar el estudio</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="dash">
						<div class="card">
							<div class="card-header  text-center">Matriz Impacto /
								Nivel</div>
							<div class="card-body text-center noli">
								<div th:if="${val ==1}">

									<p class="text-left">A continuación de la matriz de impacto
										versus nivel. En ella se representa cada una de las
										dimensiones del compromiso, respecto de las respuestas del
										estudio, en relación a su nivel actual en la organización y el
										impacto en el compromiso.</p>
									<br />
									<div class="table-responsive">
										<table width="100%">
											<tr>
												<td width="5%"
													class="rotate text-bottom border border-primary"
													rowspan="3"><b>Impacto</b></td>
											</tr>

											<tr>
												<td width="4%"
													class="border rotate text-bottom border-primary"><b>Alto</b></td>

												<td class="border border-top-0 one ">
													<li class="textTable"
													th:each="DimensionMatrix : ${listDimensionMatrix}"
													th:if="${DimensionMatrix.cuadrante == 1}"
													th:text="${DimensionMatrix.name}"></li>

												</td>

												<td class="border border-top-0 border-right-0 two ">
													<li class="textTable"
													th:each="DimensionMatrix : ${listDimensionMatrix}"
													th:if="${DimensionMatrix.cuadrante == 2}"
													th:text="${DimensionMatrix.name}"></li>
												</td>
											</tr>
											<tr>
												<td class="rotate text-bottom border border-primary "><b>Bajo</b></td>
												<td class="border border-top-0  border-bottom-0 three">
													<li class="textTable"
													th:each="DimensionMatrix : ${listDimensionMatrix}"
													th:if="${DimensionMatrix.cuadrante == 3}"
													th:text="${DimensionMatrix.name}"></li>
												</td>
												<td
													class="border border-top-0 border-right-0 border-bottom-0 border-primary four">
													<li class="textTable"
													th:each="DimensionMatrix : ${listDimensionMatrix}"
													th:if="${DimensionMatrix.cuadrante == 4}"
													th:text="${DimensionMatrix.name}"></li>
												</td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td style="line-height: 45px;" class="border border-primary"><b>Bajo</b></td>
												<td style="line-height: 45px;" class="border border-primary"><b>Alto</b></td>
											</tr>
											<tr>
												<td></td>
												<td></td>
												<td colspan="2" class="border border-primary"
													style="line-height: 50px;"><b>Nivel</b></td>
											</tr>

										</table>
									</div>
									<br />
									<div class="text-left">
										<hr />
										<ol>
											<li><b>Oportunidades de mejora</b><br /> Corresponde a
												aquellas dimensiones que tienen un alto impacto en
												compromiso, pero que hoy se encuentran en un nivel bajo
												dentro de la compañía.</li>
											<br />
											<li><b>Claves del éxito</b><br /> Son aquellas
												dimensiones que resultan críticas para el compromiso, las
												cuales poseen un alto nivel de desarrollo dentro de la
												compañía.</li>
											<br />
											<li><b>En observación</b><br /> Corresponde a todas
												aquellas dimensiones, las cuales pese a no estar
												desarrolladas ni poseer un impacto considerable, se deben
												monitorear en caso cambien su nivel de impacto.</li>
											<br />
											<li><b>Fortalezas</b><br /> En esta categoría están
												aquellas dimensiones que a pesar de no tener un impacto
												significativo, las personas reconocen que la compañía ha
												logrado un nivel alto de desarrollo.</li>
										</ol>



									</div>
								</div>
								<div th:if="${val ==0}" class="text-left">
									<h4>Se debe procesar el estudio</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="dash">
						<div class="card">
							<div class="card-header  text-center">Recomendaciones</div>
							<div class="card-body">
								<div th:if="${val ==1}">
									<div th:each="Recomendation : ${listRecomendation}">
										<div th:if="${Recomendation.name == 'Title'}">
											<br />
											<h4>
												<span th:text="${Recomendation.text}"></span>
											</h4>
											<hr />
										</div>
										<div th:if="${Recomendation.name == 'Paragraph'}">
											<p th:text="${Recomendation.text}"></p>
										</div>

										<div class="spacing"
											th:if="${Recomendation.name == 'Enumeration'}">

											<li th:text="${Recomendation.text}"></li> <br />

										</div>


									</div>
								</div>
								<div th:if="${val ==0}">
									<h4>Se debe procesar el estudio</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script>
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>




	<script>
		var doc = new jsPDF();
		var select = document.getElementById('idStudy').value;
		var specialElementHandlers = {
			'#editor' : function(element, renderer) {
				return true;
			}
		};

		$('#cmd').click(function() {
			doc.fromHTML($('#content').html(), 15, 15, {
				'width' : 170,
				'elementHandlers' : specialElementHandlers
			});
			doc.save('Estudio_' + select + '.pdf');
		});
	</script>
</body>
</html>