<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Herramienta para medir el clima laboral" />


<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/hypathia.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />


<title th:text ="#{welcome.message}"></title>

</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark  fixed-top"
		style="background-color: #545353;" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="#"><span th:text="#{app.name}"></span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">				
				<div class="dropdown show nav-item">
					<a class="nav-link dropdown-toggle" href="#" role="button"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"><i class="material-icons icon-align">account_circle</i>
						<span th:text="${company.contactName}"></span></a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<form th:action="@{/logout}" method="post">
							<button class="dropdown-item">
								<i class="material-icons icon-align">power_settings_new</i>
								<span th:text="#{menu.exit}"></span>
							</button>
						</form>
					</div>
				</div>
			</div>				
		</div>

	</nav>


	<div class="container">
		<br />
		<h5><span th:text="#{home.list_eval}"></span></h5>
		<hr />
		
		<section class="estAdmin">

			<div class="card">
				<div class="card-header"><span th:text="#{label.evaluation}"></span></div>
				<div class="card-body">

					<table class="table table-striped   table-sm">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre</th>	
								<th>Opciones</th>																						
							</tr>
						</thead>
						<tbody>
							<tr th:each="Course : ${ListCourses}">
								<td th:text="${Course.id}"></td>
								<td th:text="${Course.fullname}"></td>															
								<td>
									<form th:action="@{/admin/applicant}" method="POST">
										<input th:type="hidden" name="idCourse" id="idCourse" th:value="${Course.id}" /> 
										<button class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Administrar postulantes">
											<i class="material-icons icon-align">group</i>
										</button>
									</form>
								</td>								
								</tr>
						</tbody>
					</table>

				</div>
			</div>

		</section>
	</div>
	<!-- Modal -->

	<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-body">
					<form id="deleteForm" th:action="@{/deleteStudy}"
						th:attr="data-url-base=@{/deleteStudy}" method="POST">
						<div class="form-group">
							<p>
								Realmente esta seguro de querer eliminar el estudio <span
									class="modal-title font-weight-bold"></span>, se eliminaran
								tambien los participantes y los resultados asociados al estudio.
							</p>
							<input type="hidden" class="form-control" id="idStudydelete"
								name="idStudy" />
						</div>

						<div class="modal-footer">

							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Cancelar</button>
							<button onclick="form_submit()" type="button"
								class="btn btn-danger">Eliminar</button>
						</div>
					</form>


				</div>

			</div>
		</div>
	</div>


	<!-- JavaScript -->

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>


	<script>
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});

		$('#confirmModal').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget) // Button that triggered the modal
			var varName = button.data('whatever')
			var varId = button.data('whateverx')
			// Extract info from data-* attributes
			// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
			// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
			var modal = $(this)
			modal.find('.modal-title').text(varName)
			modal.find('.modal-body input').val(varId)
			modal.find('.modal-body link').val(varId)
		})

		function form_submit() {
			
			var vIdStudy = document.getElementById("idStudydelete").value;
			
			 var loc = window.location;
			 var pathName = loc.pathname.substring(0, loc.pathname.lastIndexOf('/') + 1);
			 var url = loc.href.substring(0, loc.href.length - ((loc.pathname + loc.search + loc.hash).length - pathName.length));
			
			
			var pathname = window.location.pathname;
			 $(location).attr('href', url+ 'deleteStudy?idStudy=' + vIdStudy);

		}
</script>


</body>
</html>