<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Herramienta para medir el clima laboral" />


<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/hypathia.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet" />



<title>Leibniz - Evaluaciones en línea</title>
</head>
<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark  fixed-top"
		style="background-color: #545353;" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="#">Leibniz</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive"></div>
		</div>
	</nav>


	<section class="login">
		<div class="container">
			<div class="card">
				<div class="card-header font-weight-bold">Iniciar Sesión</div>
				<div class="card-body">
					<br/>
					
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">Dirección de correo</label>
							 <input	type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" /> 							 
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Password</label> 
							<input type="password" class="form-control" placeholder="Password" />
						</div>
						
						<br/>
						<div class="text-center"> 
						<button type="submit" class="btn btn-primary">Ingresar</button>
						</div>
					</form>
					<br/>
					<p class="text-center text-muted">¿No tienes una cuenta? <a href="">Regístrate</a></p>
<br/>
				</div>
			</div>
		</div>
	</section>

	<!-- JavaScript -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>