<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Herramienta para realizar evaluaciones en línea" />

<title th:text ="#{welcome.message}"></title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/hypathiaPublic.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="back">
	<!-- Navigation -->

	<nav class="navbar navbar-expand-lg navbar-light   fixed-top"
		style="background-color: #F3F3F3;" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="#"><span th:text="#{welcome.message}"></span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Index"><span th:text="#{label.start}"></span></a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger" href="register"><span th:text="#{label.register}"></span></a></li>				
					<li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/login?lang=}"><img class="flagIcon" th:src="@{/img/chile-flag.png}" /></a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger" th:href="@{/login?lang=en}"><img class="flagIcon" th:src="@{/img/uk-flag.png}" /></a></li>

				</ul>
			</div>
		</div>
	</nav>

	<section class="login">
		<div class="container">
			<div class="card">
				<div class="card-header font-weight-bold"><label th:text ="#{label.login}"></label> </div>
				<div class="card-body">
					<br />

					<form th:action="@{/loginCheck}"  method="POST">
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
						<div class="form-group">
							<label th:text ="#{login.email}"></label> 
							<input type="email" class="form-control" aria-describedby="emailHelp" name="contactMail" id="contactMail"  required="required"/>
						</div>
						<div class="form-group">
							<label th:text ="#{login.password}"></label> 
							<input type="password" class="form-control" name="contactPwd" id="contactPwd"  required="required" />
								<br/>
								<div th:if="${error != null}"  class="alert alert-danger" role="alert"> <label th:text ="#{label.wrong_user_pass}"></label></div>
								<div th:if="${logout != null}"  class="alert alert-info" role="alert"> <label th:text ="#{label.sucess_logout}"></label></div>
								<div th:if="${subscription=='OK'}"  class="alert alert-warning" role="alert"> <label th:text ="#{label.account_disabled}"></label></div>
							
						</div>

						<br />
						<div class="text-center">
							<button type="submit" class="btn btn-primary"><span th:text="#{label.enter}"></span></button> 
						</div>
					</form>
					<br />					
				</div>
			</div>
		</div>
	</section>



	<!-- JavaScript -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>


</html>