<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Herramienta para medir el clima laboral" />


<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/hypathia.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />



<title>HypathiA - Medición de clima laboral</title>



</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark  fixed-top"
		style="background-color: #545353;" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="#">HypathiA</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive"></div>
		</div>

	</nav>


	<div class="container">
		<br />
			<hr />

		<section class="estAdmin">
			<div class="card">

				<div class="card-body"> <span class="" th:text="${message}"></span>
				</div>
			</div>
		</section>

		<br />



	</div>

	<!-- JavaScript -->

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>


	<script>
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>



</body>
</html>