<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Herramienta para medir el clima laboral" />

<title>HypathiA - Encuesta de compromiso laboral</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/hypathiaPublic.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />


<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>
	<!-- Navigation -->

	<nav class="navbar navbar-expand-lg navbar-light  fixed-top"
		style="background-color: #F3F3F3;" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="#">HypathiA</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="Index">Inicio</a></li>
					<li class="nav-item "><a
						class="nav-link js-scroll-trigger valign-center" href="login">
							<i class="material-icons">account_circle</i> Iniciar Sesión
					</a></li>

				</ul>

			</div>
		</div>
	</nav>
	<section class="register">
		<div class="container">
			<div class="row">
				<div
					class="col-sm border border-warning border-top-0 border-left-0 border-bottom-0">
					<img class="img-fluid imgRegistre"
						th:src="@{/img/notebook_front.jpg}" />
				</div>
				<div class="col-sm">
					<div class="container ml-1">
						<div th:if="${msg != null}"  class="alert alert-danger" role="alert"> El usuario ya se encuentra registrado </div>
						<h5 class="font-weight-bold">CREA UNA CUENTA HOY</h5>
						<p class="text-muted">
							¿Ya tiene una cuenta de HypathiA ? <a href="login">Inicia
								Sesión</a>
						</p>

						<br />
						<form th:action="@{/addRegister}" th:object="${RegisterCompany}"	method="post">

							<div class="form-group">
								<label> Empresa</label> <input type="text" class="form-control" th:field="*{companyName}"/>
								
							</div>

							<div class="form-group">
								<label>Nombre</label> <input type="text" class="form-control" th:field="*{contactName}" />
							</div>


							<div class="form-group">
								<label>Mail</label> <input type="text" class="form-control" th:field="*{contactMail}" />
							</div>

							<div class="form-group">
								<label>Contraseña</label>
								 <input type="password" class="form-control" th:field="*{contactPwd}" /> <br />
								<p class="text-muted">Al registrarte, aceptas nuestras
									condiciones y las políticas de privacidad.</p>
							</div>



							<div class="text-center">
								<button type="submit" class="btn btn-primary">Crear
									Cuenta</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br />
	<p class="text-center text-muted">
		© 2017 blauwekarper. <a href="">políticas de privacidad</a>
	</p>




	<!-- JavaScript -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>


</html>