<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Herramienta para medir el clima laboral" />


<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/hypathia.css}" rel="stylesheet" />
<link th:href="@{/css/slider.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />



<title>HypathiA - Encuesta de compromiso laboral</title>



</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark  fixed-top"
		style="background-color: #545353;" id="mainNav">
		<div class="container-fluid">
			<span class="navbar-brand" >Encuesta de compromiso laboral </span>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive"></div>
		</div>

	</nav>
	<div id="wrapper">

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">

				
				
				<p> Se invita a contesta la siguiente encuesta de compromiso laboral, la evaluación del las preguntas es en la siguiente escala</p>	
					<table>
					<tr><td>1</td><td>Totalmente en desacuerdo</td>
					<td>&nbsp;</td><td>2</td><td>En desacuerdo</td>
					<td></td><td>3</td><td>Ni de acuerdo ni en desacuerdo</td>
					<td></td><td>4</td><td>De acuerdo</td>
					<td></td><td>5</td><td>Totalmente de acuerdo</td></tr>
					</table>
				
               
               <form th:action="@{/addSurvey}" th:object="${QuestionContainer}" method="post">
               
               	<input th:type="hidden" name="idStudy" id="idStudy"	th:value="${QuestionContainer.idStudy}" />
				 <input th:type="hidden" name="idParticipant" id="idParticipant" th:value="${QuestionContainer.idParticipant}" />
                <input th:type="hidden" name="idDimension" id="idDimension" th:value="0" />
               
				<table class="table table-striped  table-responsive">
					<thead>
						<tr>
							<th>Preguntas</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						
						<tr th:each="question, stat : *{lsQuetions}">
							<td th:text="${question.getText()}"></td>
							<td>
							
							<input th:type="hidden" th:field = "*{lsQuetions[__${stat.index}__].text}" th:value="${question.getText()}" />
							<input th:type="hidden"  th:field = "*{lsQuetions[__${stat.index}__].id}"  th:value="${question.getId()}" />
							<input th:type="hidden"  th:field = "*{lsQuetions[__${stat.index}__].dimension}"  th:value="${question.getDimension()}" />	
							 
							 <div class="form-check form-check-inline">
									<label class="form-check-label spacing ">
									 <input	class="form-check-input" type="radio" th:field = "*{lsQuetions[__${stat.index}__].val}"    value="1" required="required" /> Totalmente en desacuerdo
									 	</label>
								</div>
									 
							 <div class="form-check form-check-inline">
									<label class="form-check-label spacing ">
									  <input	class="form-check-input" type="radio" th:field = "*{lsQuetions[__${stat.index}__].val}"     value="2" required="required" /> En desacuerdo
								  	</label>
								  	
								</div>
									  <div class="form-check form-check-inline">
									<label class="form-check-label spacing ">
									   <input	class="form-check-input" type="radio" th:field = "*{lsQuetions[__${stat.index}__].val}"     value="3" required="required" /> Ni de acuerdo ni en desacuerdo
									</label>
								</div>
								  
							<div class="form-check form-check-inline">
									<label class="form-check-label spacing ">
									    <input	class="form-check-input" type="radio"  th:field = "*{lsQuetions[__${stat.index}__].val}"     value="4" required="required" /> De acuerdo
									</label>
							</div>   
							
							<div class="form-check form-check-inline">
									<label class="form-check-label spacing ">
									     <input	class="form-check-input" type="radio" th:field = "*{lsQuetions[__${stat.index}__].val}"     value="5" required="required" /> Totalmente de acuerdo
									</label>
								</div>
							
							</td>
						</tr>					
					</tbody>
				</table>
					<button class="btn btn-primary"	data-toggle="tooltip" data-placement="top">
							Continuar..
					</button>
				</form>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>

<p id="demo"></p>

	<!-- JavaScript -->

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script>
				
		function form_submit() {				
			var answer =[];
			var radios = document.getElementsByTagName('input');
			var idDimension = document.getElementsByName("idDimension")[0].value;
			var idStudy = document.getElementsByName("idStudy")[0].value;
			var idParticipant = document.getElementsByName("idParticipant")[0].value;
		
			
			var txt =idDimension","+idStudy +","+ idParticipant;
			var i=0;
			 //<![CDATA[
		    for (i = 0; i < radios.length; i++) 
		    {
		      if (radios[i].type == 'radio' && radios[i].checked) 
		      {
		     	answer.push({idQ : radios[i].name, val : radios[i].value});      	
		      }
		   }
		    //]]>
		 
			 
			 for(x in answer){
			 txt = txt +","+ answer[x].idQ +","+answer[x].val ;
			 }
			 alert(txt);
		}	 
	
		
		</script>


	

</body>
</html>